.bg{
    background-color: white; 
    height: 500vh; 
    width: 500vh;
 } 
 .heading{
     color: #323f4b;
 }  
 .website{
     background-color:pink; 
     padding: 5px;
     border-radius: 6px; 
    
 } 
 .top{
     background-color:#2d3a8c ; 
     color: white; 
     font-size: 5vh; 
     padding: 5px;
     border-radius: 5px ;
 } 
 .button{
     background-color:#21396c; 
     color: white ; 
     border-radius:5px; 
     margin: 5px;
     padding: 5px; 
 } 
 .req{
     color: red;
 }